<h1 class="text-center">Edit Purchase</h1>
<div class="container-fluid">
  <div class="row">
  <div class="col"></div>
    <div class="col-md-auto">
      <form class="inline" action="/budget/purchases/<%= params[:purchase_id] %>/update" method="post">
        
          <label for="date">Date (Month/Day/Year)*</label>

          <div class="form-item">
          <input type="date" name="date" id="date" value="<%= @purchase["date"] %>">
          </div>
          <p class="note">*Invalid date input will be automatically set to today's date</p>

          <label for="category">Category:</label>

          <div class="form-item">
            <select name="category_id" id="category_id">
              <% @categories.each do |tuple| %>
                <option value="<%= tuple[:id] %>"><%= tuple[:name] %></option>
              <% end %>
            </select>
          </div>

          <label for="amount">Amount:</label>

          <div class="form-item"> <!-- Forces the user to input a number -->
          $<input type="number" min="0.00" max="100000.00" step="0.01" name="amount" id="amount" value="<%= @purchase["amount"] %>">
          </div>

          <input type="submit" value="Save Purchase">
      </form>

      <form class="inline" action="/" method="get">
        <input type="submit" value="Cancel">
      </form>
      </div>
      <div class="col"></div>
    </div>
</div>
