<div class="container" id="metrics">
  <div class="row">
    <div class="col">
      <div class="pie-chart">
        <h2>$<%= @income %></h2>
      </div>
      <h2 class="metric">Income</h2>
      <form class="inline" action="/budget/edit_income" method="get">
        <input class="inline" type="submit" value="Edit Income" />
      </form>
    </div>
    <div class="col">
      <div class="pie-chart">
        <h2>$<%= display_as_money(total_spending_in_all_categories(@purchases)) %></h2>
      </div>
      <h2 class="metric">Spending</h2>
      <form class="inline" action="/add_purchase" method="get">
        <input class="edit" type="submit" value="Add a Purchase">
      </form>
    </div>
    <div class="col">
      <div class="pie-chart"></div>
      <h2 class="metric">Remaining</h2>
    </div>    
  </div>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col" class="text-center">Budgeted</th>
        <th scope="col" class="text-center">Spent</th>
        <th scope="col" class="text-center">Remaining</th>
        <th scope="col" colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @categories[1..-1].each do |category| %>
        <tr>
          <td><%= category[:name] %></td>
          <td class="text-center">$<%= category[:amount] %></td>
          <td class="text-center">$<%= total_spending_in_one_category(@purchases, category[:name]) %></td>
          <td class="text-center">$100.00</td>
          <td class="text-center">
            <form class="inline" action="/budget/<%= category[:id] %>/edit" method="get">
              <input class="edit" type="submit" value="Edit">
            </form>
          </td>
          <td class="text-center">
            <form class="inline delete" action="/budget/<%= category[:id] %>/delete" method="post">
              <input class="delete" type="submit" value="Delete">
            </form>
          </td>
        <tr>
      <% end %>
    </tbody>
  </table>
  <form action="/budget/add_category" method="get">
    <input value="Add Category" type="submit" />
  </form>
</div>

<div class="container" id="spending-header">
  <h2 class="text-center">All Recent Spending</h2>
</div>

<div class="container" id="purchases">
  <% if @purchases.empty? %>
    <h2>You haven't added any purchases yet!</h2>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col" class="text-center">Amount</th>
          <th scope="col">Category</th>
          <th scope="col" colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @purchases.each do |purchase| %>
          <tr>
            <td><%= purchase[:date] %></td>
            <td class="text-center"><%= purchase[:amount] %></td>
            <td><%= purchase[:category] %></td> 
            <td>
              <form class="inline" action="/budget/purchases/<%= purchase[:id] %>/edit" method="get">
                <input class= "edit" type="submit" value="Edit">
              </form>
            </td>
            <td>
              <form class="inline delete" action="/budget/purchases/<%= purchase[:id] %>/delete" method="post">
                <input class="delete" type="submit" value="Delete">
              </form>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>  

  <% if @categories.size > 0 %>
    <form class="d-inline-block" action="/add_purchase" method="get">
      <input class="edit" type="submit" value="Add Purchase">
    </form>
    <% unless @purchases.empty? %>
      <form class="d-inline-block" action="/budget/purchases/delete_all" method="post">
        <input class="delete" type="submit" value="Reset All Purchases">
      </form>
    <% end %>
  <% else %>
    <p>Please add some categories, and then you can submit purchases to track your budget!</p>
  <% end %>
</div>

