<header>
  <h1>** Easy Budget ** </h1>
  <h2 class="version">v1.0</h2>
</header>
  
    
<h2>Monthly Income:</h2>
<ul>
  <li class="expense-category">
  $<strong><%= display_as_money(@budget[:monthly_income]) %></strong>
    <form class="inline" action="/budget/edit_income" method="get">
      <button class="edit" type="submit">Edit Income</button>
    </form>
  </li>
</ul>
<h2>Monthly Expense Categories:</h2>

<% if @budget[:categories].nil? %>
  <p>You haven't added any categories yet!</p>
<% else %>

  <ul>
    <% @budget[:categories].each do |category, amount| %>
      <li class="expense-category">
        <%= category %>: $<strong><%= display_as_money(amount) %></strong>
        <form class="inline" action="/budget/<%= category %>/edit" method="get">
          <button class="edit" type="submit">Edit</button>
        </form>
        <% if @budget[:categories].size > 1 %>
        <form class="inline delete" action="/budget/<%= category %>/delete" method="post">
          <button class="delete" type="submit">Delete</button>
        </form>
        <% end %>
      </li>
    <% end %>
  </ul>

  <form action="/budget/add_category" method="get">
    <button class="edit" type="submit">Add Category</button>
  </form>

  <h2>Total Categorized Expenses:</h2>
    <ul>
      <li class="expense-category">
        $<strong><%= display_as_money(total_money_budgeted) %></strong> / <%= display_as_money(@budget[:monthly_income]) %>
      </li>
    </ul>
  
    <% if over_budget? %>
      <p class="warning">WARNING: Your expenses currently exceed your monthly income!</p>
    <% end %>

  <% end %>

  <h2>Total spending this month:</h2>

    <ul>
      <li class="expense-category">
      $<strong><%= display_as_money(total_spending_in_all_categories) %></strong> / <%= display_as_money(@budget[:monthly_income]) %>
      </li>
    </ul>

    <% if over_total_budget? %>
      <p class="warning">WARNING: You've already spent more money this month than you're bringing in!</p>
    <% end %>

    <h2>Total spending this month by category:</h2>

    <ul>
      <% @budget[:categories].each do |category, _| %>
        <li class="<%= get_category_class(category) %>">
          <%= category %>: $<strong><%= display_as_money(total_spending_in_one_category(category)) %></strong> / <%= display_as_money(@budget[:categories][category]) %>
        </li>
      <% end %>
    </ul>

<h2>All Recent Spending:</h2>

  <% if @purchases.empty? %>
    <p>You haven't added any purchases yet!</p>
  <% else %>

  <ul>
    <% @purchases.each_with_index do |purchase, index| %>
      <li class="purchase">
        $<strong><%= display_as_money(purchase[:amount]) %></strong> in the <%= purchase[:category] %> category on <%= purchase[:date] %>
        <form class="inline" action="/budget/purchases/<%= index %>/edit" method="get">
           <button class= "edit" type="submit">Edit</button>
        </form>
        
          <form class="inline delete" action="/budget/purchases/<%= index %>/delete" method="post">
             <button class="delete" type="submit">Delete</button>
          </form>
        
      </li>
    <% end %>
  </ul>

    <% end %>

<% if @budget[:categories].size > 0 %>
  <form action="/add_purchase" method="get">
    <button class="edit" type="submit">Add Purchase</button>
  </form>
<% else %>
  <p>Please add some categories, and then you can submit purchases to track your budget!</p>
<% end %>

<% if session[:username] %>
  <p class="user-status">Signed in as <%= session[:username] %>
  <form action="/users/signout" method="post">
    <button class="edit" type="submit">Sign Out</button>
  </form>
<% else %>
  <form action="/users/signin" method="get">
    <button type="submit">Sign In</button>
  </form>
<% end %>