<h1>Welcome to easy budget!</h1>
  <% if @budget %>
    
    <h2>Here's a breakdown of your monthly budget:</h2>
    
    <p>Monthly Income: $<%= display_as_money(@budget[:monthly_income]) %>
      <form class="inline" action="/budget/edit_income" method="get">
        <button type="submit">Edit Income</button>
      </form>
    </p>
    <p>Monthly Expense Categories:</p>

    <% if @budget[:categories].nil? %>
      <p>You haven't added any categories yet!</p>
    <% else %>
    
      <ul>
        <% @budget[:categories].each do |category, amount| %>
          <li class="expense-category">
            <%= category %>: $<%= display_as_money(amount) %>
            <form class="inline" action="/budget/<%= category %>/edit" method="get">
              <button type="submit">Edit</button>
            </form>
            <% if @budget[:categories].size > 1 %>
            <form class="inline" action="/budget/<%= category %>/delete" method="post">
              <button type="submit">Delete</button>
            </form>
            <% end %>
          </li>
        <% end %>
      </ul>

      <p>Total Budgeted Money: $<%= display_as_money(total_money_budgeted) %> / <%= display_as_money(@budget[:monthly_income]) %></p>
      <% if over_budget? %>
        <p class="warning">WARNING: Your expenses currently exceed your monthly income!</p>
      <% end %>

      <% end %>

      <form action="/budget/add_category" method="get">
        <button type="submit">Add Category</button>
      </form>

      <% if @purchases.nil? %>
        <p>You haven't added any purchases yet!</p>
      <% else %>

      <p>Total spending this month by category:</p>

      <ul>
        <% @budget[:categories].each do |category, _| %>
          <li class="expense-category">
            <%= category %>: $<%= display_as_money(total_spending_in_one_category(category)) %> / <%= display_as_money(@budget[:categories][category]) %>
          </li>
        <% end %>

      </ul>

      

    <% end %>

  <% else %>
    <h2>Ready to create your budget? <a href="/budget/create_budget">Click to get started!</a></h2>
  <% end %>


<h2>Recent Spending:</h2>

  <% if @purchases.nil? %>
    <p>You haven't added any purchases yet!</p>
  <% else %>

  <ul>
    <% @purchases.each_with_index do |purchase, index| %>
      <li class="purchase">
        $<%= display_as_money(purchase[:amount]) %> in the <%= purchase[:category] %> category on <%= purchase[:date] %>
        <form class="inline" action="/budget/purchases/<%= index %>/edit" method="get">
           <button type="submit">Edit</button>
        </form>
        
          <form class="inline" action="/budget/purchases/<%= index %>/delete" method="post">
             <button type="submit">Delete</button>
          </form>
        
      </li>
    <% end %>
  </ul>

    <% end %>

<% if @budget[:categories].size > 0 %>
  <form action="/add_purchase" method="get">
    <button type="submit">Add Purchase</button>
  </form>
<% else %>
  <p>Please add some categories, and then you can submit purchases to track your budget!</p>
<% end %>

<% if session[:username] %>
  <p class="user-status">Signed in as <%= session[:username] %>
  <form action="/users/signout" method="post">
    <button type="submit">Sign Out</button>
  </form>
<% else %>
  <form action="/users/signin" method="get">
    <button type="submit">Sign In</button>
  </form>
<% end %>